/*!CK:140211148!*//*1392778905,178183213*/

.sp_cbth5z{background-image:url(/rsrc.php/v2/yZ/r/c8NGXLFRlEK.png);background-size:36px 32px;background-repeat:no-repeat;display:inline-block;height:12px;width:6px}
.sx_f99f37{width:18px;height:16px;background-position:-18px 0}
.selected .sx_f99f37{background-position:0 0}
.sx_9f2a3e{background-position:-6px -18px}
.selected .sx_9f2a3e{background-position:0 -18px}

#bootloader_0jlwa { height: 42px; }
.bootloader_0jlwa { display:block !important; }