/*!CK:1445552631!*//*1392695052,178195489*/

._5p3y ._5n72 ._55d0{-webkit-border-radius:3px}
._5n72 ._1dsl{display:none}
._5s6l{display:table-cell;padding:8px 0 10px 5px;width:10000px}
._bzn._5s6l{padding-top:5px}
._5n72 ._5142, ._5n72 ._55d0{position:relative}
._5n72 ._mi{position:absolute;right:40px;top:8px;z-index:1}
._bzn._5n72 ._mi{right:45px;top:12px}
._5n72.child_was_focused ._mi{right:10px}
._5n72 ._2yg .composerTypeahead .wrap{padding:11px 10px}
._bzn._5n72 ._2yg .composerTypeahead .wrap{padding:16px 10px}
._6nw ._5n72 ._2yg .composerTypeahead .wrap{padding:11px 5px}
._5p3y ._bzn._5n72 ._2yg .composerTypeahead .wrap{padding:9px 10px}
._5n72 ._2yg .uiMentionsInput .highlighter{padding-left:10px;padding-top:11px}
._bzn._5n72 ._2yg .uiMentionsInput .highlighter{padding-left:10px;padding-top:16px}
._6nw ._5n72 ._2yg .uiMentionsInput .highlighter{padding-left:12px;padding-top:18px}
._5o6g{position:absolute;right:0;top:0}
._28x_._5o6g{right:6px;top:7px}
._6nw ._5o6g{right:2px;top:8px}
._6nw ._28x_._5o6g{right:8px;top:10px}
._5p3y ._5o6g{right:8px;top:8px}
._5o6h{cursor:pointer;outline:0}
._28x_ ._5o6h{background:#edeff4;cursor:pointer;padding:6px 8px}
._6nw ._28x_ ._5o6h{padding:7px 9px}
._5p3y ._28x_ ._5o6h{background:#f6f7f8;padding:7px 9px}
._5p3y ._28x_ ._5o6h:hover{background:#edeff0}
._5olm{color:#141823;padding:0 12px;text-decoration:none}
._54ne ._54nc ._5olm{color:#fff;text-decoration:none}
.child_was_focused ._5o6g{display:none}

#bootloader_S56hK { height: 42px; }
.bootloader_S56hK { display:block !important; }