/*!CK:3740484690!*//*1389074419,178185015*/

.sp_13qsrw{background-image:url(/rsrc.php/v2/yq/r/2AMBaHwUiGa.png);background-size:34px 76px;background-repeat:no-repeat;display:inline-block;height:16px;width:16px}
.sx_d074e5{height:12px;background-position:0 -62px}
.sx_140ef5{height:10px;background-position:-16px -14px}
.selected .sx_140ef5{background-position:0 -14px}
.sx_79e7ba{height:12px;background-position:-16px 0}
.selected .sx_79e7ba{background-position:0 0}
.sx_fd3f1f{background-position:0 -26px}
.sx_c0eb4f{background-position:0 -44px}
.sx_81e64f{width:14px;height:14px;background-position:-18px -26px}

#bootloader_Pc6Bb { height: 42px; }
.bootloader_Pc6Bb { display:block !important; }