/*!CK:3816893081!*//*1389106255,178185015*/

.sp_4aqet3{background-image:url(/rsrc.php/v2/ys/r/Qx_fgnRrlxG.png);background-size:42px 472px;background-repeat:no-repeat;display:inline-block;height:40px;width:40px}
.sx_34a777{background-position:0 0}
.sx_49a306{background-position:0 -42px}
.sx_af6bc9{background-position:0 -84px}
.sx_b304c0{background-position:0 -126px}
.sx_c41718{width:2px;height:2px;background-position:-18px -462px}
.sx_14a7c2{background-position:0 -168px}
.sx_6aac2c{background-position:0 -210px}
.sx_47db8c{width:16px;height:8px;background-position:0 -462px}
.sx_933cd2{background-position:0 -252px}
.sx_913baa{background-position:0 -294px}
.sx_a8f733{background-position:0 -336px}
.sx_95b7f1{background-position:0 -378px}
.sx_e6c310{background-position:0 -420px}

#bootloader_SsyZM { height: 42px; }
.bootloader_SsyZM { display:block !important; }