/*!CK:4115163668!*//*1392692502,178138177*/

._5084{border:1px solid #bbb;height:127px;position:relative;top:1px;width:398px}
._5uoe{width:358px}
._5084._5r-i{height:189px}
._507_{background-color:#fff;border:3px solid #fff;-webkit-border-radius:2px;display:block;height:99px;width:99px}
._5080{background:rgba(0, 0, 0, .3);-webkit-border-radius:3px;bottom:13px;left:13px;margin:13px 7px -3px -3px;padding:1px;position:absolute}
._5083{overflow:hidden}
._509z ._5uek{background:url(/rsrc.php/v2/yG/r/8RHv8nDQAHL.png) repeat-x left top;height:85px}
._509z ._5uek._5r-j{background:url(/rsrc.php/v2/yG/r/8RHv8nDQAHL.png) left top;background-size:100% 100%;height:147px}
._51hs ._5uek{background-color:#f5f7f7;height:85px}
._5uek{bottom:42px;position:absolute;width:398px}
._5uoe ._5uek{width:358px}
._5uel{max-height:30px;overflow-y:hidden;position:relative}
._284f{margin-bottom:-1px;margin-top:2px}
._5uem{bottom:48px;left:128px;line-height:1.2;max-width:250px;position:absolute;z-index:1}
._509z ._5uem, ._509z ._5uem a{color:#fff}
._51hs ._5uem{color:gray}
._5uen{height:34px;margin-left:128px;margin-right:10px;overflow:hidden}
._51hs ._5uen{margin-top:88px}
._509z ._5uen{margin-top:2px}
._5uen ._508a{margin-top:6px}
._5uen ._5ueo{height:30px;overflow:hidden}
._5uen ._5081{float:right;margin-top:8px;position:static}
._50zb{border-bottom:1px solid #e6e6e6;border-top:1px solid #ccc;margin-left:-18px;padding-left:18px}
html ._50zc{margin-bottom:10px;margin-top:5px}

#bootloader_UMEwy { height: 42px; }
.bootloader_UMEwy { display:block !important; }