/*!CK:2550236029!*//*1392694136,178183213*/

.fbPhotoTagger ._570u{min-width:220px;padding:6px}
._570v{margin-left:3px;margin-top:1px}
._5ep9{background:none;border:2px solid rgba(255, 255, 255, .3);-webkit-border-radius:3px;overflow:hidden;position:absolute}
._5epb{overflow:hidden;position:relative}
._5epc{position:relative}
._5epd{position:absolute}
._287i{display:inline-block;font-size:12px;line-height:22px;vertical-align:middle}

#bootloader_qYP42 { height: 42px; }
.bootloader_qYP42 { display:block !important; }