/*!CK:3033803820!*//*1392692790,178191169*/

.sp_10pp74{background-image:url(/rsrc.php/v2/yi/r/oxSAqZHTrN7.png);background-size:500px 248px;background-repeat:no-repeat;display:inline-block;height:10px;width:12px}
.sx_5dc843{width:14px;height:14px;background-position:-192px -196px}
.sx_8b4be2{width:16px;background-position:-288px -178px}
.sx_a16f5b{width:16px;background-position:-306px -178px}
.sx_b5a2f1{width:16px;background-position:-324px -178px}
.sx_87e5d4{width:10px;height:16px;background-position:-264px -178px}
.sx_b9eb10{width:10px;height:16px;background-position:-276px -178px}
.sx_438df5{width:16px;background-position:-342px -178px}
.sx_e1281e{width:16px;height:16px;background-position:-192px -178px}
.sx_b91769{background-position:-360px -178px}
.sx_97c9bd{width:10px;height:6px;background-position:-286px -156px}
.sx_2c6499{width:6px;height:4px;background-position:-208px -150px}
.sx_c91950{width:16px;height:16px;background-position:-210px -178px}
.sx_03560f{width:16px;height:16px;background-position:-228px -178px}
.sx_e9899c{width:16px;height:16px;background-position:-246px -178px}
.sx_b1be8b{width:20px;height:12px;background-position:-220px -156px}
.sx_5a525d{height:20px;background-position:-192px -156px}
.sx_db68af{height:20px;background-position:-206px -156px}
.sx_dc994e{width:20px;height:12px;background-position:-242px -156px}
.sx_4a6bf1{width:20px;height:6px;background-position:-264px -156px}
.sx_93b608{width:6px;height:2px;background-position:-216px -150px}
.sx_00cc76{width:6px;height:2px;background-position:-224px -150px}
.sx_f25692{width:206px;height:4px;background-position:0 -150px}
.sx_42645d{height:12px;background-position:-208px -196px}
.sx_153284{height:12px;background-position:-222px -196px}
.sx_07fb41{height:12px;background-position:-236px -196px}
.sx_7ae24e{height:12px;background-position:-250px -196px}
.sx_0a45db{height:12px;background-position:-264px -196px}
.sx_8ff4d0{width:10px;background-position:-374px -178px}
.sx_06ca95{width:10px;background-position:-386px -178px}
.sx_b73446{width:10px;background-position:-398px -178px}
.sx_683ad1{width:10px;background-position:-410px -178px}
.sx_5e5bb8{width:10px;background-position:-422px -178px}
.sx_5fe752{width:500px;height:48px;background-position:0 0}
.sx_28ea99{width:500px;height:48px;background-position:0 -50px}
.sx_f96fe0{width:500px;height:48px;background-position:0 -100px}
.sx_d78ec8{width:190px;height:90px;background-position:0 -156px}

#bootloader_g5hRE { height: 42px; }
.bootloader_g5hRE { display:block !important; }