/*!CK:1359079900!*//*1392692731,178183213*/

.threadRow .snippet{max-width:430px;overflow:hidden;position:absolute;text-overflow:ellipsis;white-space:nowrap}
.threadRow .snippet .indicator, #fbMessagesItemList .snippet .indicator{vertical-align:middle}
.fbProfileByline{width:493px;margin-top:4px;line-height:15px}
.fbProfileBylineFragment,
.fbProfileNonIconBylineFragment{margin-right:8px;color:#666}
.fbProfileBylineIcon{margin-bottom:1px;margin-top:1px;vertical-align:bottom}
.fbProfileLoggedOutByline{width:493px;margin-top:1px;line-height:14px}
.fbLongBlurb{margin-right:8px;color:#666;padding-bottom:3px}
.fbProfileBylineContextual .inferenceSource{text-align:center;margin-top:10px}
.fbProfileBylineContextual .typeahead{width:300px}
.pagesTimelineButtonPagelet{background-color:#e7ebf2;border-bottom:1px solid #c8d1e2;min-width:122px;padding:13px 0 12px 1px;top:38px;z-index:4}
.hasPagesManagerNavbar .pagesTimelineButtonPagelet{top:89px}
.fbTimelineWideRightCol .pagesTimelineButtonPagelet{min-width:244px}
body.hasVoiceBar .pagesTimelineButtonPagelet{top:64px}
body.hasVoiceBar.hasPagesManagerNavbar .pagesTimelineButtonPagelet{top:115px}
.pagesTimelineRightColumn .fbTimelineScrubber{top:87px}
.hasPagesManagerNavbar .pagesTimelineRightColumn .fbTimelineScrubber{top:138px}
body.hasVoiceBar .pagesTimelineRightColumn .fbTimelineScrubber{top:113px}
body.hasVoiceBar.hasPagesManagerNavbar .pagesTimelineRightColumn
.fbTimelineScrubber{top:164px}
#createPageButton .img{top:3px}
#createPageButton{padding-left:6px}
.sp_1ei3h8{background-image:url(/rsrc.php/v2/yC/r/kw0rSUePUO2.png);background-size:auto;background-repeat:no-repeat;display:inline-block;height:16px;width:16px}
.sx_b6c5e7{width:8px;height:8px;background-position:-15px -185px}
.sx_4a2fcc{background-position:0 -77px}
.sx_540e0f{width:12px;height:12px;background-position:-12px -33px}
.selected .sx_540e0f{background-position:0 -33px}
.sx_9503e7{width:12px;height:12px;background-position:-12px -46px}
.selected .sx_9503e7{background-position:0 -46px}
.sx_2ac310{width:12px;height:12px;background-position:0 -209px}
.sx_f27762{width:12px;height:12px;background-position:0 -222px}
.sx_72fd71{background-position:0 -94px}
.sx_4bd6bd{background-position:0 -111px}
.sx_0a445d{background-position:0 -128px}
.sx_d73b41{width:23px;height:32px;background-position:0 0}
.sx_275a3c{width:9px;height:5px;background-position:-15px -179px}
.sx_272c66{background-position:0 -145px}
.sx_d3b5e7{width:14px;height:14px;background-position:0 -179px}
.sx_283c6b{width:14px;height:14px;background-position:0 -194px}
.sx_e65f5f{width:13px;height:17px;background-position:0 -59px}
.sx_361b5c{background-position:0 -162px}
.sx_e63da7{width:5px;height:7px;background-position:-18px -209px}
.selected .sx_e63da7{background-position:-13px -209px}
.sx_2d38bf{width:8px;height:12px;background-position:-14px -59px}
.sp_2p7iu7{background-image:url(/rsrc.php/v2/yg/r/0EDs4dJt2Ad.png);background-size:auto;background-repeat:no-repeat;display:inline-block;height:13px;width:9px}
.sx_9f18df{background-position:0 0}
.sx_96df30{background-position:0 -14px}
.sx_6516ac{background-position:0 -28px}
.sp_6c2pho{background-image:url(/rsrc.php/v2/yR/r/3ByTxCLs9r9.png);background-size:auto;background-repeat:no-repeat;display:inline-block;height:16px;width:16px}
.sx_ce2535{background-position:0 -18px}
.sx_69b86a{background-position:0 -35px}
.sx_d1d405{background-position:0 -52px}
.sx_9dc3fc{background-position:0 -69px}
.sx_efc77f{background-position:0 -86px}
.sx_221d77{height:17px;background-position:0 0}
.sx_ac138c{width:15px;height:14px;background-position:0 -103px}
.sp_95vhpu{background-image:url(/rsrc.php/v2/yx/r/qOy5VIYd9H2.png);background-size:auto;background-repeat:no-repeat;display:inline-block;height:11px;width:32px}
.sx_761632{width:11px;background-position:0 -51px}
.sx_67b6b8{width:16px;height:17px;background-position:0 -33px}
.sx_9e7d2b{width:12px;background-position:-17px -33px}
.sx_7dc87f{height:32px;background-position:0 0}
._4-rr{display:inline-block}
._4-rr ._4-rs + ._4-rs{margin-left:-1px}
._4-rt{position:relative;z-index:1}
._4-ru{position:relative;z-index:2}
._4-rs._42fr{position:static}
._4-rr ._4-rs{-webkit-border-radius:0}
._4-rv ._4-rs:first-child{-webkit-border-bottom-left-radius:3px;-webkit-border-top-left-radius:3px}
._4-rv ._4-rs:last-child{-webkit-border-bottom-right-radius:3px;-webkit-border-top-right-radius:3px}

#bootloader_f8Xat { height: 42px; }
.bootloader_f8Xat { display:block !important; }