/*!CK:307788653!*//*1388984191,178163747*/

.sp_2rtdik{background-image:url(/rsrc.php/v2/yz/r/iIrrdiFswIH.png);background-size:28px 150px;background-repeat:no-repeat;display:inline-block;height:16px;width:16px}
.sx_b130aa{width:14px;height:12px;background-position:-14px 0}
.selected .sx_b130aa{background-position:0 0}
.sx_c85683{width:14px;height:12px;background-position:-14px -14px}
.selected .sx_c85683{background-position:0 -14px}
.sx_9ef769{width:12px;height:12px;background-position:0 -136px}
.sx_a7cce0{background-position:0 -28px}
.sx_0aadca{background-position:0 -46px}
.sx_9ddb0c{background-position:0 -64px}
.sx_9009b0{background-position:0 -82px}
.sx_00cb64{background-position:0 -100px}
.sx_62806d{background-position:0 -118px}

#bootloader_w2euI { height: 42px; }
.bootloader_w2euI { display:block !important; }