/*!CK:2223252713!*//*1392782580,178191169*/

.sp_acdl9x{background-image:url(/rsrc.php/v2/yW/r/kOzvXiRg3xH.png);background-size:26px 250px;background-repeat:no-repeat;display:inline-block;height:16px;width:16px}
.sx_8d58f5{width:8px;height:8px;background-position:-16px -190px}
.sx_45f74f{background-position:0 -82px}
.sx_928403{width:12px;height:12px;background-position:-12px -34px}
.selected .sx_928403{background-position:0 -34px}
.sx_cdb340{width:12px;height:12px;background-position:-12px -48px}
.selected .sx_cdb340{background-position:0 -48px}
.sx_bdb2f8{width:12px;height:12px;background-position:0 -222px}
.sx_c791f5{width:12px;height:12px;background-position:0 -236px}
.sx_69d67d{background-position:0 -100px}
.sx_42050f{background-position:0 -118px}
.sx_16517f{background-position:0 -136px}
.sx_d7ec83{width:24px;height:32px;background-position:0 0}
.sx_e033ea{width:10px;height:6px;background-position:-14px -232px}
.sx_7263f2{background-position:0 -154px}
.sx_d36793{width:14px;height:14px;background-position:0 -190px}
.sx_f2ac07{width:14px;height:14px;background-position:0 -206px}
.sx_945e7a{width:14px;height:18px;background-position:0 -62px}
.sx_e97dd7{background-position:0 -172px}
.sx_ad97b5{width:6px;height:8px;background-position:-20px -222px}
.selected .sx_ad97b5{background-position:-14px -222px}
.sx_6480bd{width:8px;height:12px;background-position:-16px -62px}

#bootloader_flnNd { height: 42px; }
.bootloader_flnNd { display:block !important; }