/*!CK:2531059481!*//*1392693040,178195489*/

.uiStreamStoryHide .ogAggregationSubstoryContent{display:none}
._4d_{position:relative}
._4e0{left:8px;outline:0;opacity:0;position:absolute;top:8px;z-index:1}
._4d_:hover ._4e0{opacity:1;-webkit-transition:opacity .2s}
._4f-, ._14a_{display:inline-block}
._14a_{padding-right:5px}
._14a_:first-child{padding-left:5px}
._4fx{background-image:url(/rsrc.php/v2/y_/r/C_fMmI2LKHS.png);background-repeat:no-repeat;background-size:auto;background-position:0 -40px;display:inline-block;height:13px;margin-right:2px;vertical-align:text-top;width:15px}
._4fy{background-image:url(/rsrc.php/v2/y_/r/C_fMmI2LKHS.png);background-repeat:no-repeat;background-size:auto;background-position:-135px -5px;display:inline-block;height:16px;margin-right:2px;vertical-align:text-top;width:16px}
._4fz{display:none;margin:0;opacity:.5}
.comment_trigger ._4fz, ._55n8._4fz{display:inline-block}
._55n8._4fz{opacity:.3}
._55n8._4fz:hover{opacity:1.0}
._70r, ._70s, ._70t, ._70u{width:397px}
._70r .ogAggregationSubstory{width:196px}
._70s .ogAggregationSubstory{width:176px}
._70t .ogAggregationSubstory, ._70u .ogAggregationSubstory{width:129px}
._4hp{outline:0;position:relative}
._4hq{border:1px solid #e5e5e5;border-top:0;position:relative}
._4hq ._4hr{display:none;position:absolute;right:2px;top:2px;z-index:1}
._4hp:hover ._4hr{display:inline-block}
._4hq ._4hs{background:#f7f7f7;padding:7px 6px}
._5j4p + ._4hs{height:110px;overflow:hidden}
._4hq ._4ht{max-height:2.56em;overflow:hidden}
._4hq ._566{height:2.56em}
._4ht .ogContentTitle{padding-right:7px}
._4ht .ogContentSubdescription{border-top:1px solid #e5e5e5;margin-top:5px;padding-top:5px}
._4ht .ogContentTitle, ._4ht .ogContentTitleShort, ._4ht .ogContentDescription, ._4ht .ogContentRating{display:block}
._4ht .ogContentRating{margin-top:1px}
._4ht .ogContentTitleShort{overflow:hidden;text-overflow:ellipsis;white-space:nowrap}
._4hu{border-top:1px solid #e5e5e5;overflow:hidden;white-space:nowrap}
._4hv.ogAggregationBling{background-color:#fff;position:absolute;right:1px}
._4hv{padding:5px 5px 4px}
._4hv .share_action_link, ._4hv .like_link, ._4hv a{color:#6d84b4}
._93n ._93o{display:none}
._4hw{height:14px;padding-left:0;padding-right:0}
._4hw:hover{background-color:#eceff5;text-decoration:none}
._4hw .ogAggregationBlingEmpty{display:none}
._4hw.comment_trigger .ogAggregationBlingEmpty{display:inline-block}
._5b19 ._57_1{left:75px}
._5b19 ._57_1 ._4zpu{margin-left:9px}
._5b1a, ._5egv{position:relative}
._5b1a ._4_ij{bottom:0;position:absolute;right:0}
._5bpo{bottom:0;left:0;position:absolute;right:0}
._5egw{height:154px;overflow:hidden;width:415px}
.tickerDialogContent ._5egw{height:104px;overflow:hidden;width:282px}
._5egv .ogContentSubdescription{border-top:0;padding-top:0}
._5egv ._5bpo{margin-top:10px;position:relative}
._5egv ._4_ij{float:right;margin-top:10px}
._5egv ._5bpo{bottom:0;left:0;position:absolute}
._5egx ._4_ij{margin-top:25px;position:relative;z-index:1}
._4hj{margin-bottom:5px;position:relative}
._4hj:last-child{margin-bottom:1px}
._4hk{float:left;margin-left:5px;position:relative}
._4hk:first-child{margin-left:0}
._4hk .ogAggregationUninterestingMenu, ._4hk .ogAggregationUninterestingMenu .uiStreamInlineReplaceList, ._4hk .ogAggregationMarkAsSpamMenu{margin-left:0;margin-right:0;padding-left:0;padding-right:0}
._4hx{width:398px}
._4hx ._4hy{margin-bottom:5px;position:relative}
._4hx ._4hy:last-child{margin-bottom:0}
._90k{border-color:#e9e9e9;border-style:solid;border-width:1px 0 0 0;padding-top:10px}
._4hx ._9el{display:none;position:absolute;right:-3px;top:8px}
._4hy:hover ._9el{display:inline-block}
._4h5{position:relative}
._4h6{height:90px;width:90px}
._5qv8 ._4h6{height:95px;width:95px}
._4h5 .rfloat{width:100%}
._5xnu, ._5xnv{background:#f7f7f7;border:1px solid #e9e9e9;padding:7px 11px}
._5xnu{border-left:0}
._5xi9:hover{text-decoration:none}
._4h8{height:74px;line-height:14px;overflow:hidden}
._5qv8 ._4h8{height:79px;line-height:15px}
._4h9{display:none;position:absolute;right:5px;top:5px}
._4ha:hover ._4h9{display:inline-block}
._4hb{margin-right:8px}
._4hb:hover{text-decoration:underline}
._4hc{margin-bottom:4px}
._4he{border:1px solid #e9e9e9;border-top:0;position:relative}
._4hf{padding:5px 5px 4px}
._4hf.rfloat{overflow:hidden;max-width:280px;text-overflow:ellipsis;white-space:nowrap}
._4hf span, ._4hf a{color:#6d84b4}
._4hg{height:14px;padding-left:0;padding-right:0}
._4hg:hover{background-color:#eceff5;text-decoration:none}
._4dx ._4dy{display:none;height:0;overflow:hidden}
._4e1{display:none;margin:5px 0 0}
._4dx ._4e1{display:block}
._4e2 ._4e1{margin-bottom:-6px;text-align:center}
._4e1 img{vertical-align:1px}

#bootloader_9femD { height: 42px; }
.bootloader_9femD { display:block !important; }